*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 20px 0px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container ul{
    width: 80%;
    list-style: none;
}

.testo{
    width: 70%;
    padding: 10px;
}

.invio{
    width: 10%;
    padding: 10px;
}

li:hover{
    background-color: azure;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.delete {
    color: red;
    cursor: pointer;
}